WINDOWSDARK       VCLSTYLE "C:\Program Files (x86)\Embarcadero\Studio\22.0\Redist\styles\vcl\Windows10Dark.vsf"
WINDOWSMODERNDARK VCLSTYLE "C:\Program Files (x86)\Embarcadero\Studio\22.0\Redist\styles\vcl\Windows11_Modern_Dark.vsf"

